
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700|Slabo+27px|Inconsolata:400,700);
input[type='button'],
input[type='submit'],
button
{
  padding            : 0.25em 0.5em 0.25em 0.5em;
  font-size          : 1em;
  border             : solid 1px rgb(153,153,153);
  border-radius      : 0.125em 0.125em 0.125em 0.125em;
  font-weight        : bold;
  color              : rgb(248,248,248);
  background-color   : rgb(153,153,153);
  -webkit-transition : background-color 125.0ms linear 0.0s,color 125.0ms linear 0.0s,border-color 125.0ms linear 0.0s;
  -moz-transition    : background-color 125.0ms linear 0.0s,color 125.0ms linear 0.0s,border-color 125.0ms linear 0.0s;
  -ms-transition     : background-color 125.0ms linear 0.0s,color 125.0ms linear 0.0s,border-color 125.0ms linear 0.0s;
  -o-transition      : background-color 125.0ms linear 0.0s,color 125.0ms linear 0.0s,border-color 125.0ms linear 0.0s;
  transition         : background-color 125.0ms linear 0.0s,color 125.0ms linear 0.0s,border-color 125.0ms linear 0.0s;
}

input[type='button']:hover,
input[type='submit']:hover,
button:hover
{
  border-color     : rgb(216,216,216);
  background-color : rgb(216,216,216);
}

input[type='button']:active,
input[type='submit']:active,
button:active
{
  border-color     : rgb(114,114,114);
  background-color : rgb(114,114,114);
}

select
{
  padding : 0.25em 0.5em 0.25em 0.5em;
}

input[type='text'],
input[type='email'],
textarea
{
  padding            : 1em 1em 1em 1em;
  font-size          : 1em;
  border             : none 0px rgba(0,0,0,0.0000);
  background-color   : rgb(153,153,153);
  -webkit-transition : background-color 75.0ms linear 0.0s;
  -moz-transition    : background-color 75.0ms linear 0.0s;
  -ms-transition     : background-color 75.0ms linear 0.0s;
  -o-transition      : background-color 75.0ms linear 0.0s;
  transition         : background-color 75.0ms linear 0.0s;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus
{
  outline          : solid 0px rgba(0,0,0,0.0000);
  background-color : rgb(216,216,216);
}

textarea
{
  font-family : "Open Sans", sans-serif;
}

header
{
  padding    : 2rem 2rem 0% 2rem;
  text-align : center;
}

#profile
{
  margin : 0px 0px 1em 0px;
}

#profile img
{
  display    : inline-block;
  min-width  : 128px;
  min-height : 128px;
  max-width  : 128px;
  max-height : 128px;
  opacity    : 0.8;
}

@media screen and (min-width: 480px)
{
#profile img
{
  max-width  : 160px;
  max-height : 160px;
}

}
@media screen and (min-width: 768px)
{
#profile img
{
  max-width  : 192px;
  max-height : 192px;
}

}
#name
{
  margin-bottom : 0.05em;
}

#name a
{
  color           : rgb(114,114,114);
  text-decoration : none;
}

#tagline
{
  font-family   : "Inconsolata", monospace;
  margin-bottom : 0.125em;
  color         : rgb(153,153,153);
}

#tagline__messages
{
  display : none;
}

#social
{
  margin              : 0px 0px 0px 0px;
  padding             : 0px 0px 0px 0px;
  list-style-type     : none;
  list-style-image    : none;
  list-style-position : none;
  display             : inline-block;
  margin              : 0px 0px 3em 0px;
  padding             : 0em 0px 0px 0px;
}

#social li
{
  margin              : 0px 0px 0px 0px;
  padding             : 0px 0px 0px 0px;
  list-style-type     : none;
  list-style-image    : none;
  list-style-position : none;
}

#social li
{
  display : inline-block;
  margin  : 0px 1em 0px 1em;
}

#social li a
{
  color : rgb(153,153,153);
}

#social li a:hover
{
  color : rgb(114,114,114);
}

#main-nav
{
  margin             : 0px 0px 2em 0px;
  background-color   : rgba(0,0,0,0.0000);
  -webkit-transition : background-color 125.0ms linear 0.0ms;
  -moz-transition    : background-color 125.0ms linear 0.0ms;
  -ms-transition     : background-color 125.0ms linear 0.0ms;
  -o-transition      : background-color 125.0ms linear 0.0ms;
  transition         : background-color 125.0ms linear 0.0ms;
}

#main-nav ul
{
  display    : inline-block;
  margin     : 0px 0px 0px 0px;
  padding    : 0px 0px 0px 0px;
  list-style : none none none;
}

#main-nav ul li
{
  display            : block;
  margin             : 1em 2em 1em 2em;
  -webkit-transition : transform 125.0ms linear 0.0ms;
  -moz-transition    : transform 125.0ms linear 0.0ms;
  -ms-transition     : transform 125.0ms linear 0.0ms;
  -o-transition      : transform 125.0ms linear 0.0ms;
  transition         : transform 125.0ms linear 0.0ms;
}

#main-nav ul li:hover
{
  -webkit-transform : scale(1.125,1.125);
  -moz-transform    : scale(1.125,1.125);
  -ms-transform     : scale(1.125,1.125);
  -o-transform      : scale(1.125,1.125);
  transform         : scale(1.125,1.125);
}

#main-nav ul li a
{
  color           : rgb(153,153,153);
  text-decoration : none;
}

#main-nav ul li a:hover
{
  color : rgb(114,114,114);
}

@media screen and (min-width: 480px)
{
#main-nav ul li
{
  display : inline-block;
}

}
#main-nav.main-nav--fixed
{
  position         : fixed;
  top              : 0px;
  left             : 0px;
  right            : 0px;
  background-color : rgb(153,153,153);
  z-index          : 100;
}

#main-nav.main-nav--fixed ul li a
{
  color : rgb(216,216,216);
}

#main-nav.main-nav--fixed ul li a:hover,
#main-nav.main-nav--fixed ul li a.main-nav__active
{
  color : rgb(248,248,248);
}

body
{
  font-family : "Open Sans", sans-serif;
  color       : rgb(76,76,76);
}

h1
{
  font-size : 2.25em;
}

h2
{
  font-size : 2em;
}

h1,
h2
{
  font-family : "Slabo 27px", serif;
  margin      : 0px 0px 2em 0px;
}

h3,
h4
{
  font-family : "Open Sans", sans-serif;
  margin      : 0px 0px 1.5em 0px;
}

h4
{
  color : rgb(153,153,153);
}

h4.black-section
{
  color : rgb(216,216,216);
}

h5,
h6
{
  margin : 0px 0px 1em 0px;
}

p
{
  margin      : 0px 0px 1.5em 0px;
  line-height : 1.5em;
}

em
{
  font-style : italic;
}

strong
{
  font-weight : bold;
}

a
{
  font-family        : "Slabo 27px", serif;
  color              : rgb(114,114,114);
  -webkit-transition : color 125.0ms linear 0.0ms;
  -moz-transition    : color 125.0ms linear 0.0ms;
  -ms-transition     : color 125.0ms linear 0.0ms;
  -o-transition      : color 125.0ms linear 0.0ms;
  transition         : color 125.0ms linear 0.0ms;
}

a:visited
{
  color : rgb(153,153,153);
}

a:hover
{
  color : rgb(76,76,76);
}

a:active
{
  color : rgb(76,76,76);
}

ul
{
  margin              : 0px 0px 0px 0px;
  padding             : 0px 0px 0px 0px;
  list-style-type     : none;
  list-style-image    : none;
  list-style-position : none;
}

ul li
{
  margin              : 0px 0px 0px 0px;
  padding             : 0px 0px 0px 0px;
  list-style-type     : none;
  list-style-image    : none;
  list-style-position : none;
}


.black-section h4
{
  color : rgb(153,153,153);
}

.black-section a
{
  color : rgb(216,216,216);
}

.black-section a:visited
{
  color : rgb(216,216,216);
}

.black-section a:hover
{
  color : rgb(248,248,248);
}

.black-section a:active
{
  color : rgb(248,248,248);
}

#message
{
  text-align : center;
}

#message span
{
  display          : inline-block;
  padding          : 0.5em 1em 0.5em 1em;
  font-weight      : bold;
  color            : rgb(248,248,248);
  background-color : rgb(153,153,153);
  border-radius    : 0.125em 0.125em 0.125em 0.125em;
}

#message.message--fixed
{
  position : fixed;
  bottom   : 4em;
  left     : 5%;
  right    : 5%;
  z-index  : 100;
}

@media screen and (min-width: 480px)
{
#message.message--fixed
{
  left  : 25%;
  right : 25%;
}

}
html,
body
{
  background-color : rgb(248,248,248);
}

body
{
  margin  : 0px 0px 0px 0px;
  padding : 0px 0px 0px 0px;
}

.white-section,
.black-section
{
  margin : 0px 0px 0px 0px;
}

.white-section
{
  padding : 2rem 2rem 2rem 2rem;
}

.white-section:first-child
{
  padding-top : 0px;
}

.black-section
{
  padding          : 3rem 2rem 2rem 2rem;
  background-color : rgb(76,76,76);
  color            : rgb(248,248,248);
}

.container
{
  margin    : 0px auto 0px auto;
  max-width : 1280px;
}

section
{
  margin-bottom : 4em;
}

section > :last-child
{
  margin-bottom : 0px;
}

footer
{
  display            : block;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  width              : 100%;
  zoom               : 1;
  padding            : 1em 2em 1em 2em;
  font-family        : "Open Sans", sans-serif;
  background-color   : rgb(63,63,63);
  color              : rgb(216,216,216);
}

footer:before
{
  content : "";
  display : table;
}

footer:after
{
  content : "";
  display : table;
  clear   : both;
}

footer h1,
footer h2,
footer h3,
footer h4
{
  margin-bottom : 0px;
}

footer h1 small,
footer h2 small,
footer h3 small,
footer h4 small
{
  font-weight : normal;
}

footer #footer-lang,
footer #footer-nav,
footer #footer-copyright
{
  padding    : 1em 0px 1em 0px;
  text-align : center;
}

@media screen and (min-width: 480px)
{
footer #footer-lang,
footer #footer-nav,
footer #footer-copyright
{
  text-align         : left;
  display            : block;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  width              : 30.66666%;
  margin-right       : 4%;
  float              : right;
}

footer #footer-lang:first-child,
footer #footer-nav:first-child,
footer #footer-copyright:first-child
{
  margin-right : 0px;
}

}
#go-page-top
{
  position           : fixed;
  padding            : 0.5em 1em 0.5em 1em;
  bottom             : 0px;
  right              : 0px;
  color              : rgb(248,248,248);
  font-weight        : bold;
  text-decoration    : none;
  background-color   : rgb(153,153,153);
  border-radius      : 0.125em 0px 0px 0px;
  -webkit-transition : background-color 125.0ms linear 0.0ms,right 250.0ms linear 0.0ms;
  -moz-transition    : background-color 125.0ms linear 0.0ms,right 250.0ms linear 0.0ms;
  -ms-transition     : background-color 125.0ms linear 0.0ms,right 250.0ms linear 0.0ms;
  -o-transition      : background-color 125.0ms linear 0.0ms,right 250.0ms linear 0.0ms;
  transition         : background-color 125.0ms linear 0.0ms,right 250.0ms linear 0.0ms;
  z-index            : 9;
}

#go-page-top:hover
{
  background-color : rgb(114,114,114);
}

#go-page-top.go-page-top--hide
{
  right : -25%;
}

@media screen and (min-width: 480px)
{
#go-page-top
{
  padding       : 1em 1em 1em 1em;
  bottom        : 1em;
  right         : 1em;
  border-radius : 0.125em 0.125em 0.125em 0.125em;
}

}
ul#toolset
{
  margin              : 0px 0px 0px 0px;
  padding             : 0px 0px 0px 0px;
  list-style-type     : none;
  list-style-image    : none;
  list-style-position : none;
  display             : block;
  -webkit-box-sizing  : border-box;
  -moz-box-sizing     : border-box;
  -ms-box-sizing      : border-box;
  -o-box-sizing       : border-box;
  box-sizing          : border-box;
  width               : 100%;
  zoom                : 1;
  margin              : 0px 0px 0px 0px;
  text-align          : center;
}

ul#toolset li
{
  margin              : 0px 0px 0px 0px;
  padding             : 0px 0px 0px 0px;
  list-style-type     : none;
  list-style-image    : none;
  list-style-position : none;
}

ul#toolset:before
{
  content : "";
  display : table;
}

ul#toolset:after
{
  content : "";
  display : table;
  clear   : both;
}

ul#toolset li
{
  width  : 80%;
  margin : 2em auto 2em auto;
}

@media screen and (min-width: 768px)
{
ul#toolset li
{
  margin : 3em 0px 3em 0px;
}

}
@media screen and (min-width: 768px) and (max-width: 1023px)
{
ul#toolset li
{
  display            : block;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  width              : 47%;
  margin-right       : 6%;
  float              : left;
}

ul#toolset li:last-child
{
  margin-right : 0px;
}

ul#toolset li:nth-child(2n)
{
  margin-right : 0px;
}

}
@media screen and (min-width: 1024px)
{
ul#toolset li
{
  display            : block;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  width              : 22.75%;
  margin-right       : 3%;
  float              : left;
}

ul#toolset li:last-child
{
  margin-right : 0px;
}

}
#skills-section
{
  display            : block;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  width              : 100%;
  zoom               : 1;
}

#skills-section:before
{
  content : "";
  display : table;
}

#skills-section:after
{
  content : "";
  display : table;
  clear   : both;
}


@media screen and (min-width: 768px)
{
#skills-section #skills__professional,
#skills-section #skills__personal
{
  display            : block;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  width              : 47%;
  margin-right       : 6%;
  float              : left;
}

#skills-section #skills__professional:last-child,
#skills-section #skills__personal:last-child
{
  margin-right : 0px;
}

}
#skills-section ul.skillset
{
  margin              : 0px 0px 0px 0px;
  padding             : 0px 0px 0px 0px;
  list-style-type     : none;
  list-style-image    : none;
  list-style-position : none;
  margin              : 0px 0px 0px 0px;
}

#skills-section ul.skillset li
{
  margin              : 0px 0px 0px 0px;
  padding             : 0px 0px 0px 0px;
  list-style-type     : none;
  list-style-image    : none;
  list-style-position : none;
}

#skills-section ul.skillset li
{
  margin : 2em 0px 2em 0px;
}

#experiment-list > li
{
  display            : block;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  width              : 100%;
  zoom               : 1;
  position           : relative;
  margin-bottom      : 3em;
}

#experiment-list > li:before
{
  content : "";
  display : table;
}

#experiment-list > li:after
{
  content : "";
  display : table;
  clear   : both;
}

#experiment-list > li:last-child
{
  margin-bottom : 0px;
}


@media screen and (min-width: 768px)
{
#experiment-list > li .experiment-aside
{
  display            : block;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  width              : 30.66666%;
  margin-right       : 4%;
  float              : left;
}

#experiment-list > li .experiment-aside:last-child
{
  margin-right : 0px;
}

}
#experiment-list > li .experiment-content
{
  padding          : 1em 1em 1em 1em;
  color            : rgb(248,248,248);
  background-color : rgb(114,114,114);
  border-radius    : 0.125em 0.125em 0.125em 0.125em;
}

@media screen and (min-width: 768px)
{
#experiment-list > li .experiment-content
{
  display            : block;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  width              : 65.33333%;
  margin-right       : 4%;
  float              : left;
}

#experiment-list > li .experiment-content:last-child
{
  margin-right : 0px;
}

}

@media screen and (min-width: 768px)
{
#contact-text
{
  display            : block;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  width              : 100%;
  zoom               : 1;
}

#contact-text:before
{
  content : "";
  display : table;
}

#contact-text:after
{
  content : "";
  display : table;
  clear   : both;
}

#contact-text #contact-about
{
  display            : block;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  width              : 30.66666%;
  margin-right       : 4%;
  float              : left;
}

#contact-text #contact-about:last-child
{
  margin-right : 0px;
}

#contact-text #contact-form
{
  display            : block;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  width              : 65.33333%;
  margin-right       : 4%;
  float              : left;
}

#contact-text #contact-form:last-child
{
  margin-right : 0px;
}

}
#contact-form
{
  margin-bottom : 1.5em;
}

#contact-form input[type='email'],
#contact-form input[type='text'],
#contact-form textarea
{
  display            : block;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  margin-bottom      : 1em;
  width              : 100%;
  min-width          : 100%;
  max-width          : 100%;
  resize             : none;
}

#contact-form textarea
{
  min-height : 240px;
}

@media screen and (min-width: 768px)
{

#about-text
{
  display            : block;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  width              : 100%;
  zoom               : 1;
}

#about-text:before
{
  content : "";
  display : table;
}

#about-text:after
{
  content : "";
  display : table;
  clear   : both;
}

#about-text #about-developer,
#about-text #about-personal
{
  display            : block;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
  width              : 47%;
  margin-right       : 6%;
  float              : left;
}

#about-text #about-developer:last-child,
#about-text #about-personal:last-child
{
  margin-right : 0px;
}

#about-text #about-developer:nth-child(2n),
#about-text #about-personal:nth-child(2n)
{
  margin-right : 0px;
}

}

/* Generated with Clay, http://fvisser.nl/clay */